$radius: 50%;
$black-color: black;
$white-color: white;
$lighbluecolor: rgb(130, 238, 162); 
$margin10: 10px;
$margin15: 15px;
$margin25: 25px;
$margin39: 39px;

$hero-img: url('../favicon/csgoteams.jpg')  center center no-repeat;
$hero-size: cover;

html,body {
    overflow-x:hidden;
}

#header {
    background-color: $black-color;
}

#coin-stack {
    height: $margin39;
    width: $margin39;
    margin-right: $margin10;
    margin-left: $margin10;
    margin-top: $margin10;
    border-radius: $radius;
}

#hero {
    background: $hero-img;
    background-size: $hero-size;
    color: $white-color;
    overflow: hidden;
}

#information {
    color: $black-color;
}

#txt-body {
    background-color: rgba(228, 198, 117, 0.904);
}
#coin {
    height: $margin25;
    width: $margin25;
    margin-right: $margin10;
    margin-left: $margin10;
    margin-top: $margin10;
    border-radius: $radius;
}

#balance {
    text-align: center;
    margin: $margin25;
    color: $white-color;
}

#desc1,#desc2,#desc3 {
    color: $black-color;
}

section {
    background-color: $lighbluecolor;
}