$radius: 50%; 
$margin10: 10px;
$margin15: 15px;
$margin25: 25px;
$margin39: 39px;

@mixin bg-image-gen($path:'',$sz:cover,$adjust: center center no-repeat) {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url($path) $adjust;
    background-size: $sz;
}

@mixin set-bg-color($color: white) {
    background-color: $color;
}

@mixin txt-color($color: white) {
    color: $color;
}

html,body {
    overflow-x:hidden;
    #header {
        @include set-bg-color(black);
        #coin-stack {
            height: $margin39;
            width: $margin39;
            margin-right: $margin10;
            margin-left: $margin10;
            margin-top: $margin10;
            border-radius: $radius;
        }
        #balance {
            text-align: center;
            margin: $margin25;
            @include txt-color();
        }
    }

    .carouselText {
        margin: 0;
        color: white;
        position: relative;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;      
    }

    #hero {
        @include bg-image-gen('../favicon/csgoteams.jpg',100% 100%);
        @include txt-color();
        overflow: hidden;
        #greet {
            font-size: 10vw;
        }
        #information {
            @include txt-color(black);
        }
        #txt-body {
           @include set-bg-color(rgba(228, 198, 117, 0.904));
        }
    }

    section {
        @include set-bg-color(rgb(43, 226, 141));
        .coin {
            height: 4vh;
            width: 2vw;
            margin-right: $margin10;
            margin-left: $margin10;
            margin-top: $margin10;
            border-radius: $radius;
        }
    }
    
    .modaal {
        @include set-bg-color(rgb(43, 226, 141));
    }
    footer {
        @include set-bg-color(rgb(43, 226, 141));
        .fab {
            font-size: 10vh;
         }
    
    }
}

